<ion-header>
  <ion-toolbar>
    <ion-title>
      Canciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>

	

	<ion-item>
		<img src="https://lastfm-img2.akamaized.net/i/u/770x0/b6c642f336c442f7b591118cdb179603.jpg" class="album" />
		<ion-label>
			<h2>The reason</h2>
			<h3>Hoobastank</h3>
		</ion-label>
		<ion-badge color="light">
			<ion-icon name="pause"></ion-icon>
		</ion-badge>
	</ion-item>



	<ion-item>
		<img src="https://lastfm-img2.akamaized.net/i/u/770x0/b6c642f336c442f7b591118cdb179603.jpg" class="album" />
		<ion-label>
			<h2>Amor pirata</h2>
			<h3>Los Villacorta</h3>
		</ion-label>
		<ion-badge color="light">
			<ion-icon name="play"></ion-icon>
		</ion-badge>
	</ion-item>
	<ion-item>
		<img src="https://lastfm-img2.akamaized.net/i/u/770x0/b6c642f336c442f7b591118cdb179603.jpg" class="album" />
		<ion-label>
			<h2>Ya me enterè</h2>
			<h3>Reik</h3>
		</ion-label>
		<ion-badge color="light">
			<ion-icon name="play"></ion-icon>
		</ion-badge>
	</ion-item>
	<ion-item>
		<img src="https://lastfm-img2.akamaized.net/i/u/770x0/b6c642f336c442f7b591118cdb179603.jpg" class="album" />
		<ion-label>
			<h2>Salí con tu mujer</h2>
			<h3>Don Omar & Aventura</h3>
		</ion-label>
		<ion-badge color="light">
			<ion-icon name="play"></ion-icon>
		</ion-badge>
	</ion-item>
	<ion-item>
		<img src="https://lastfm-img2.akamaized.net/i/u/770x0/b6c642f336c442f7b591118cdb179603.jpg" class="album" />
		<ion-label>
			<h2>Ex de verdad</h2>
			<h3>Ha Ash</h3>
		</ion-label>
		<ion-badge color="light">
			<ion-icon name="play"></ion-icon>
		</ion-badge>
	</ion-item>
	<ion-item>
		<img src="https://lastfm-img2.akamaized.net/i/u/770x0/b6c642f336c442f7b591118cdb179603.jpg" class="album" />
		<ion-label>
			<h2>Cita en el quirofano</h2>
			<h3>Pxndx</h3>
		</ion-label>
		<ion-badge color="light">
			<ion-icon name="play"></ion-icon>
		</ion-badge>
	</ion-item>
	<ion-item>
		<img src="https://lastfm-img2.akamaized.net/i/u/770x0/b6c642f336c442f7b591118cdb179603.jpg" class="album" />
		<ion-label>
			<h2>Soy peor</h2>
			<h3>Bad Bunny</h3>
		</ion-label>
		<ion-badge color="light">
			<ion-icon name="play"></ion-icon>
		</ion-badge>
	</ion-item>
</ion-list>

</ion-content>
